<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<h1 class="resultsHeaderCopy">Your results for Director: <%=results.director%></h1>

<% if(Object.keys(results).length > 2){ %>
  <% results.forEach(function (results){ %>
    <div id='results' class="multipleResultsContain">
        <p><span>Title:</span> <%=results.show_title%></p>
        <p><span>Release Year:</span> <%=results.release_year%></p>
        <p><span>Rating:</span> <%=results.rating%></p>
        <p><span>Category:</span> <%=results.category%></p>
        <form action="/search-director/results/view-more" method="post">
        <input type="hidden" value="<%=results.show_title%>" name="title" />
        <input class="button1" type="submit" name="submit" value="View More!" />
        </form>
    </div>
  <% }) %>
<% } else { %>
    <p class="multipleResultsContain"><%= results.message %></p>
    <div class="returnButton">
    <a class="button" href="/search-director">Try a different search?</a>
    </div>
<% } %>


<% include ../partials/footer%>
<% include ../partials/end%>
