<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<h1 class="resultsHeaderCopy"> Director: <%=results.director%> Title: <%=results.show_title%></h1>
<div class="results">
  <p><span>Title:</span> <%=results.show_title%></p>
  <p><span>Release Year:</span> <%=results.release_year%></p>
  <p><span>Rating:</span> <%=results.rating%></p>
  <p><span>Category:</span> <%=results.category%></p>
  <p><span>Show Cast:</span> <%=results.show_cast%></p>
  <p><span>Director:</span> <%=results.director%></p>
  <p><span>Summary:</span> <%=results.summary%></p>
  <p><span>Runtime:</span> <%=results.runtime%></p>
  <p><span>Movie Id:</span> <%=results.show_id%></p>
  <button class="button1 floatLeft" type="button" id="saveDirector">Save to my profile</button>
  <form action="/comments" method="post">
    <input type="hidden" value="<%=results.show_id%>" name="show_id" />
    <input class="button1 spacing floatLeft" type="submit" value="View All Comments" name="View All Comments" />
  </form>
  <div style="clear:both;"></div>
  <div class="newComment">
    <form action="/comments/new" method="post" id="newCommentForm">
      <input type="hidden" name="show_id" value="<%=results.show_id%>" id="show_id" />
      <textarea class="textarea" name="comment" placeholder="Add a new comment here" id="textarea"></textarea>
      <input class="button1 bottom" type="button" name="button" value="submit" id="commentButton" />
    </form>
  </div>
</div>

<% include ../partials/footer%>
<% include ../partials/end%>
