<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<h1 class="indexHeaderCopy">Welcome back <%=user.first_name%></h1>
<div class="logout">
<a href="/auth/logout" class="button1">Logout!</a>
</div>
<h2 class="profileMovieCopy">Your Saved Movies</h2>
<h2 class="profileCommentsCopy">Your comments</h2>
<div style="clear:both;"></div>

<div class="userMovies">
<% if(Object.keys(movies).length > 1){ %>
  <% movies.forEach(function(movies){ %>
    <p><span>Title:</span> <%=movies.title%></p>
    <form action="/search-director/results/view-more" method="post">
    <input type="hidden" value="<%=movies.title%>" name="title" />
    <input class="button1" type="submit" name="submit" value="View This movie!" />
    </form>
    <hr>
  <% }) %>
<% } else { %>
  <p>You don't have any saved movies.</p>
  <a class="button1" href="/">Start a search here</a>
<%}%>
</div>


<div class="userComments">
<% if(Object.keys(comments).length > 1){ %>
  <% comments.forEach(function(comments){ %>
    <p><span>comment:</span> <%=comments.comment%></p>
    <form action="/comments/edit" method="post">
    <input type="hidden" name="id" value="<%=comments.id%>" />
    <input class="button1" type="submit" value="Edit this commment" />
    </form>
    <hr>
  <% }) %>
<% } else { %>
  <p>You don't have any comment.</p>
  <a class="button1" href="/">Start a search here and then add your comments</a>
<% } %>
</div>

<% include ../partials/footer%>
<% include ../partials/end%>
